@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<RecipeCoverViewModel>

<link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
<div>


    <div class="intro">
        <div class="about">
            <div class="about-img-wrapper">
                <!-- <img src="./images/cooker.png" alt=""> -->
            </div>

            <h1>Hello there! I am Sara.<br /> Welcome to my kitchen!</h1>
        </div>
    </div>

    <div class="recent-recipes">
        <h1>Recent recipes</h1>

        @if (this.Model.Count() == 0)
        {
            <h1>No Available Recipes</h1>
        }
        else
        {
            var firstThree = this.Model.Take(3);

            <div class="recent-recipes-first">

                @if (firstThree.Count() <= 3)
                {
                    foreach (var recipe in firstThree.Take(2))
                    {
                        <div class="recipe-small" style="background-image: url('./recipes/@recipe.ImagePath');">
                            <div class="recent-recipes-heading">
                                <p class="recent-recipes-category">@recipe.Category</p>
                                <h3 class="recent-recipes-name">@recipe.Name</h3>
                            </div>
                        </div>
                    }
                }
                @if(firstThree.Count() == 3)
                {
                    foreach (var recipe in firstThree.Skip(2))
                    {
                        <div class="recipe-large" style="background-image: url('./recipes/@recipe.ImagePath');">
                            <div class="recent-recipes-heading">
                                <p class="recent-recipes-category">@recipe.Category</p>
                                <h3 class="recent-recipes-name">@recipe.Name</h3>
                            </div>
                        </div>
                    }
                }

            </div>

            @if (this.Model.Count() > 3)
            {
                var lastRecipes = this.Model.Skip(3);

                <div class="recent-recipes-second">

                    @if (lastRecipes.Count() == 1)
                    {
                        foreach (var recipe in lastRecipes.Take(1))
                        {
                            <div class="recipe-large" style="background-image: url('./recipes/@recipe.ImagePath');">
                                <div class="recent-recipes-heading">
                                    <p class="recent-recipes-category">@recipe.Category</p>
                                    <h3 class="recent-recipes-name">@recipe.Name</h3>
                                </div>
                            </div>
                        }
                    }
                    @if (lastRecipes.Count() > 1)
                    {
                        foreach (var recipe in lastRecipes.Skip(1))
                        {
                            <div class="recipe-small" style="background-image: url('./recipes/@recipe.ImagePath');">
                                <div class="recent-recipes-heading">
                                    <p class="recent-recipes-category">@recipe.Category</p>
                                    <h3 class="recent-recipes-name">@recipe.Name</h3>
                                </div>
                            </div>
                        }
                    }



                </div>
            }
        }

       @* <div class="recent-recipes-first">
            <div class="recipe-small" style="background-image: url('./images/carrotcake.jpg');">
                <div class="recent-recipes-heading">
                    <p class="recent-recipes-category">MAIN DISH</p>
                    <h3 class="recent-recipes-name">Fluffy cake with lemon and berries, orange, sauce and oil</h3>
                </div>
            </div>

            <div class="recipe-small" style="background-image: url('./images/cake.jpg');">
                <div class="recent-recipes-heading">
                    <p class="recent-recipes-category">MAIN DISH</p>
                    <h3 class="recent-recipes-name">Fluffy cake with lemon</h3>
                </div>
            </div>

            <div class="recipe-large" style="background-image: url('./images/mishmash.jpg');">
                <div class="recent-recipes-heading">
                    <p class="recent-recipes-category">MAIN DISH</p>
                    <h3 class="recent-recipes-name">Fluffy cake with lemon, fresh lemon and cream</h3>
                </div>
            </div>
        </div>

        <div class="recent-recipes-second">
            <div class="recipe-large" style="background-image: url('./images/cake.jpg');">
                <div class="recent-recipes-heading">
                    <p class="recent-recipes-category">MAIN DISH</p>
                    <h3 class="recent-recipes-name">Fluffy cake with lemon</h3>
                </div>
            </div>

            <div class="recipe-small" style="background-image: url('./images/bob.png');">
                <div class="recent-recipes-heading">
                    <p class="recent-recipes-category">MAIN DISH</p>
                    <h3 class="recent-recipes-name">Fried bacon with honey and mustard</h3>
                </div>
            </div>

            <div class="recipe-small" style="background-image: url('./images/cake.jpg');">
                <div class="recent-recipes-heading">
                    <p class="recent-recipes-category">MAIN DISH</p>
                    <h3 class="recent-recipes-name">Fluffy cake with lemon</h3>
                </div>
            </div>


        </div>*@
    </div>
</div>