@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<RecipeCoverViewModel>

@{
    Dictionary<string, string> categoryRepresent = new Dictionary<string, string>
    {
        {"maindish", "основни"},
        {"salads", "салати"},
        {"desert", "десерти"},
        {"dough", "тестени"},
        {"soups", "супи"},
    };

    
}

<link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
<div>


    <div class="intro">
        <div class="about">
            <div class="about-img-wrapper">
                <!-- <img src="./images/cooker.png" alt=""> -->
            </div>

            <h1>Hello there! I am Sara.<br /> Welcome to my kitchen!</h1>
        </div>
    </div>

    <div class="recent-recipes">
        <h1>Най - нови рецепти</h1>

        @if (this.Model.Count() == 0)
        {
            <h1>В момента няма налични рецепти!</h1>
        }
        else
        {
            var firstThree = this.Model.Take(3);

            <div class="recent-recipes-first">

                @if (firstThree.Count() <= 3)
                {
                    foreach (var recipe in firstThree.Take(2))
                    {

                        <div class="recipe-small" style="background-image: url('./recipes/@recipe.ImagePath');">
                            <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-id="@recipe.Id">
                                <div class="recent-recipes-heading">
                                    <p class="recent-recipes-category">@categoryRepresent[recipe.Category.ToLower()].ToUpper()</p>
                                    <h3 class="recent-recipes-name">@recipe.Name</h3>
                                </div>
                            </a>
                        </div>

                    }
                }
                @if (firstThree.Count() == 3)
                {
                    foreach (var recipe in firstThree.Skip(2))
                    {
                        <div class="recipe-large" style="background-image: url('./recipes/@recipe.ImagePath');">
                            <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-id="@recipe.Id">
                                <div class="recent-recipes-heading">
                                    <p class="recent-recipes-category">@categoryRepresent[recipe.Category.ToLower()].ToUpper()</p>
                                    <h3 class="recent-recipes-name">@recipe.Name</h3>
                                </div>
                            </a>
                        </div>
                    }
                }

            </div>

            @if (this.Model.Count() > 3)
            {
                var lastRecipes = this.Model.Skip(3);

                <div class="recent-recipes-second">

                    @if (lastRecipes.Count() >= 1)
                    {
                        foreach (var recipe in lastRecipes.Take(1))
                        {
                            <div class="recipe-large" style="background-image: url('./recipes/@recipe.ImagePath');">
                                <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-id="@recipe.Id">
                                    <div class="recent-recipes-heading">
                                        <p class="recent-recipes-category">@categoryRepresent[recipe.Category.ToLower()].ToUpper()</p>
                                        <h3 class="recent-recipes-name">@recipe.Name</h3>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                    @if (lastRecipes.Count() > 1)
                    {
                        foreach (var recipe in lastRecipes.Skip(1))
                        {
                            <div class="recipe-small" style="background-image: url('./recipes/@recipe.ImagePath');">
                                <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-id="@recipe.Id">
                                    <div class="recent-recipes-heading">
                                        <p class="recent-recipes-category">@categoryRepresent[recipe.Category.ToLower()].ToUpper()</p>
                                        <h3 class="recent-recipes-name">@recipe.Name</h3>
                                    </div>
                                </a>
                            </div>
                        }
                    }



                </div>
            }
        }

       
    </div>
</div>