@model IEnumerable<SingleRecipeViewModel>

<link rel="stylesheet" href="~/css/recipecategory.css" asp-append-version="true" />

@{
    Dictionary<string, string> categoryRepresent = new Dictionary<string, string>
    {
        {"maindish", "основни"},
        {"salads", "салати"},
        {"desert", "десерти"},
        {"dough", "тестени"},
        {"soups", "супи"},
    };

    string currentCategory = categoryRepresent[ViewBag.CurrentCategory];
}

<h1 class="recipes-category-heading">@currentCategory.ToUpper()</h1>

<div class="recipes-by-category">

    @if (@Model.Count() > 0)
    {
        @foreach (var recipe in Model)
        {
            <div class="single-recipe-category">

                <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-id="@recipe.Id">
                    <div class="single-recipe-category-img-wrapper">
                        <img src="~/recipes/@recipe.ImagePath" />
                    </div>
                </a>
                <h4 class="single-recipe-category-category">@currentCategory.ToUpper()</h4>

                <h3 class="single-recipe-category-title">@recipe.Name</h3>

                <div class="single-recipe-category-info">

                    <div class="single-recipe-category-icon-holder">
                        <i class="fa-regular fa-clock"></i>
                        <p>@recipe.CookingTime min</p>
                    </div>

                    <div class="single-recipe-category-icon-holder">
                        <i class="fa-solid fa-utensils"></i>
                        <p>@recipe.Servings</p>
                    </div>
                </div>

            </div>
        }
    }
    else
    {
        <h1 class="recipes-category-heading">За съжаление в момента няма налични рецепти в тази категория!</h1>
    }
    



</div>
