@model SingleRecipeViewModel

<link rel="stylesheet" href="~/css/singlerecipe.css" asp-append-version="true" />


<div class="single-recipe">
    <div class="single-recipe-left">
        <div class="single-recipe-image">

            <img src="~/recipes/@Model.ImagePath" />
        </div>

        <div class="single-recipe-ingredients">

            <div class="ingredients-header">
                <!-- <i class="fa-solid fa-list-ol"></i> -->
                <div class="ingredients-icon-wrapper">
                    <img src="~/images/eeeee.png" alt="">
                </div>
                <h3>Ingredients</h3>
            </div>

            <ul class="single-recipe-ingredients-list">

                @foreach (var ingredient in Model.Ingredients)
                {
                    <li>
                        <i class="fa-solid fa-circle"></i>
                        <p>@ingredient</p>
                    </li>
                }
            </ul>

            @if (Model.SubIngredients != null)
            {


                @foreach (var subIngredient in Model.SubIngredients)
                {
                    <ul class="single-recipe-ingredients-list">

                        <p class="sub-ingridients-name">@subIngredient.Name</p>

                        @foreach (var ingr in subIngredient.Ingredients)
                        {
                        <li>
                            <i class="fa-solid fa-circle"></i>
                            <p>@ingr</p>
                        </li>
                        }
                    </ul>
                }
            }



        </div>
    </div>

    <div class="single-recipe-right">
        <div class="single-recipe-info">
            <h1>@Model.Name</h1>

            <ul>
                <li>
                    <i class="fa-regular fa-clock"></i>
                    <p>@Model.CookingTime min</p>
                </li>
                <li>
                    <i class="fa-solid fa-utensils"></i>
                    <p>@Model.Servings</p>
                </li>
                <li>
                    <i class="fa-solid fa-plate-wheat"></i>
                    <p>@Model.Category</p>
                </li>
            </ul>
        </div>

        <div class="single-recipe-directions">
            <div class="directions-header">
                <!-- <i class="fa-solid fa-list-ol"></i> -->
                <div class="directions-icon-wrapper">
                    <img src="~/images/ffff.png" alt="">
                </div>
                <h3>Directions</h3>
            </div>

            <p>@Model.Instructions</p>

        </div>
    </div>

    
</div>

<div class="change-btn-wrapper">
    <a asp-controller="Recipe" asp-action="ChangeRecipe" asp-route-id="@Model.Id" class="change-recipe-btn">Change Recipe</a>
</div>


