@model SingleRecipeViewModel

<link rel="stylesheet" href="~/css/singlerecipe.css" asp-append-version="true" />

@{
    Dictionary<string, string> categoryRepresent = new Dictionary<string, string>
    {
        {"maindish", "Основни"},
        {"salads", "Салати"},
        {"deserts", "Десерти"},
        {"dough", "Тестени"},
        {"soups", "Супи"},
    };

    string currentCategory = categoryRepresent[Model.Category.ToLower()];
}

<div class="single-recipe">
    <div class="single-recipe-left">
        <div class="single-recipe-image">

            <img src="~/recipes/@Model.ImagePath" />
        </div>

        <div class="single-recipe-ingredients">

            <div class="ingredients-header">
                <!-- <i class="fa-solid fa-list-ol"></i> -->
                <div class="ingredients-icon-wrapper">
                    <img src="~/images/eeeee.png" alt="">
                </div>
                <h3>Продукти</h3>
            </div>

            <ul class="single-recipe-ingredients-list">

                @foreach (var ingredient in Model.Ingredients)
                {
                    <li>
                        <i class="fa-solid fa-circle"></i>
                        <p>@ingredient</p>
                    </li>
                }
            </ul>

            @if (Model.SubIngredients != null)
            {


                @foreach (var subIngredient in Model.SubIngredients)
                {
                    <ul class="single-recipe-ingredients-list">

                        <p class="sub-ingridients-name">@subIngredient.Name</p>

                        @foreach (var ingr in subIngredient.Ingredients)
                        {
                            <li>
                                <i class="fa-solid fa-circle"></i>
                                <p>@ingr</p>
                            </li>
                        }
                    </ul>
                }
            }



        </div>
    </div>

    <div class="single-recipe-right">
        <div class="single-recipe-info">
            <h1>@Model.Name</h1>

            <ul>
                <li>
                    <i class="fa-regular fa-clock"></i>
                    <p>@Model.CookingTime min</p>
                </li>
                <li>
                    <i class="fa-solid fa-utensils"></i>
                    <p>@Model.Servings</p>
                </li>
                <li>
                    <i class="fa-solid fa-plate-wheat"></i>
                    <p>@currentCategory</p>
                </li>
            </ul>
        </div>

        <div class="single-recipe-directions">
            <div class="directions-header">
                <!-- <i class="fa-solid fa-list-ol"></i> -->
                <div class="directions-icon-wrapper">
                    <img src="~/images/ffff.png" alt="">
                </div>
                <h3>Упътвания</h3>
            </div>

            <p>@Model.Instructions</p>

        </div>
    </div>


</div>

<div class="change-btn-wrapper">
    <a asp-controller="Recipe" asp-action="Change" asp-route-id="@Model.Id" class="change-recipe-btn">Промени</a>

    <a class="delete-recipe-btn">Изтрий</a>
</div>


<div class="popup-delete">
    <i class="fa-solid fa-triangle-exclamation warning-icon"></i>
    <h1 class="popup-delete-heading">Warning</h1>
    <p class="popup-delete-info">Are you shure that you want to delete this recipe?</p>

    <div class="popup-delete-btns">
        <a asp-controller="Recipe" asp-action="Delete" asp-route-id="@Model.Id" class="confirm-delete">Delete</a>
        <a class="close-delete-popup">Close</a>
    </div>
</div>



