@model SingleRecipeViewModel

<link rel="stylesheet" href="~/css/singlerecipe.css" asp-append-version="true" />


<div class="single-recipe">
    <div class="single-recipe-left">
        <div class="single-recipe-image">

            <img src="~/recipes/@Model.ImagePath" />
        </div>

        <div class="single-recipe-ingredients">

            <div class="ingredients-header">
                <!-- <i class="fa-solid fa-list-ol"></i> -->
                <div class="ingredients-icon-wrapper">
                    <img src="~/images/eeeee.png" alt="">
                </div>
                <h3>Ingredients</h3>
            </div>

            <ul>
                <li>
                    <i class="fa-solid fa-circle"></i>
                    <p>200 gr Chicken breasts</p>
                </li>

                <li>
                    <i class="fa-solid fa-circle"></i>
                    <p>200 gr Chicken breasts</p>
                </li>

                <li>
                    <i class="fa-solid fa-circle"></i>
                    <p>200 gr Chicken breasts</p>
                </li>

                <li>
                    <i class="fa-solid fa-circle"></i>
                    <p>200 gr Chicken breasts</p>
                </li>

                <li>
                    <i class="fa-solid fa-circle"></i>
                    <p>200 gr Chicken breasts</p>
                </li>
            </ul>

            <ul>
                <p class="sub-ingridients-name">For the cream</p>

                <li>
                    <i class="fa-solid fa-circle"></i>
                    <p>200 gr Chicken breasts</p>
                </li>

                <li>
                    <i class="fa-solid fa-circle"></i>
                    <p>200 gr Chicken breasts</p>
                </li>

                <li>
                    <i class="fa-solid fa-circle"></i>
                    <p>200 gr Chicken breasts</p>
                </li>

                <li>
                    <i class="fa-solid fa-circle"></i>
                    <p>200 gr Chicken breasts</p>
                </li>

                <li>
                    <i class="fa-solid fa-circle"></i>
                    <p>200 gr Chicken breasts</p>
                </li>
            </ul>

        </div>
    </div>

    <div class="single-recipe-right">
        <div class="single-recipe-info">
            <h1>@Model.Name</h1>

            <ul>
                <li>
                    <i class="fa-regular fa-clock"></i>
                    <p>@Model.CookingTime min</p>
                </li>
                <li>
                    <i class="fa-solid fa-utensils"></i>
                    <p>@Model.Servings</p>
                </li>
                <li>
                    <i class="fa-solid fa-plate-wheat"></i>
                    <p>@Model.Category</p>
                </li>
            </ul>
        </div>

        <div class="single-recipe-directions">
            <div class="directions-header">
                <!-- <i class="fa-solid fa-list-ol"></i> -->
                <div class="directions-icon-wrapper">
                    <img src="~/images/ffff.png" alt="">
                </div>
                <h3>Directions</h3>
            </div>

            <p>
                @*Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad illum quia velit accusantium! Fuga molestiae autem quod a enim? At non delectus quod voluptate accusamus expedita id obcaecati numquam in quasi, quae natus modi, ipsa autem accusantium magni repellendus exercitationem soluta aut odio sit, officia eveniet aliquam. Delectus tempore id fugiat quo, illum error ad, eveniet illo debitis sunt rerum voluptas explicabo? Accusamus numquam unde voluptatem consequatur, deleniti facilis! In ea quas veniam labore excepturi nisi laborum praesentium porro nam!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad illum quia velit accusantium! Fuga molestiae autem quod a enim? At non delectus quod voluptate accusamus expedita id obcaecati numquam in quasi, quae natus modi, ipsa autem accusantium magni repellendus exercitationem soluta aut odio sit, officia eveniet aliquam. Delectus tempore id fugiat quo, illum error ad, eveniet illo debitis sunt rerum voluptas explicabo? Accusamus numquam unde voluptatem consequatur, deleniti facilis! In ea quas veniam labore excepturi nisi laborum praesentium porro nam!*@

                @Model.Instructions
            </p>
        </div>
    </div>
</div>
